body {
    font-family: Arial, sans-serif;
    text-align: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(135, 135, 247);
}
.container {
    max-width: 800px;
    margin: auto;
}
.logo {
    display: block;
    margin-top: 20px; /* Jarak dari navigasi */
    margin-left: auto;
    margin-right: auto;
    height: 80px; /* Sesuaikan ukuran */
}
.container img {
    display: block;
    margin-bottom: 20px; /* Jarak antara gambar */
}